In [1]:
import numpy as np,pandas as pd
import pickle
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [51]:
df=pd.read_csv("Housing.csv")
df.head()#looking for top 5 data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [6]:
df.info()#having a look for null values
print(df.isnull())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB
     price   area  bedrooms  bathrooms  stories  mainroad  guestroom  \
0    False  False     False      False    False     False      False
1    False  False     False      False    False     False      False
2    False  False     False      False    False     False      False
3    False  False     False      False    False     False      False
4    False  False     False      False    False     False      False
..     ...    ...       ...        ...      ...       ...        ...
540  False  False     False      False    False     False      False
541  False  False     False      False    False     False      False
542  False  False     False      False    False     False      False
543  False  False     False      False    False     False      False
544  False  False     False      False    False     False      False

     basement  hotwaterheating  airconditioning  parking  prefarea  \
0       False            False            False    False     False
1       False            False            False    False     False
2       False            False            False    False     False
3       False            False            False    False     False
4       False            False            False    False     False
..        ...              ...              ...      ...       ...
540     False            False            False    False     False
541     False            False            False    False     False
542     False            False            False    False     False
543     False            False            False    False     False
544     False            False            False    False     False

     furnishingstatus
0               False
1               False
2               False
3               False
4               False
..                ...
540             False
541             False
542             False
543             False
544             False

[545 rows x 13 columns]
price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

checked for nullity and accordingly we would apply data cleaning concept.

In [21]:
df=df.replace("yes",1)
df=df.replace("no",0)
df=df.replace("furnished",2)
df=df.replace("semi-furnished",1)
df=df.replace("unfurnished",0)
#print(df)
print(df.dtypes)

price               int64
area                int64
bedrooms            int64
bathrooms           int64
stories             int64
mainroad            int64
guestroom           int64
basement            int64
hotwaterheating     int64
airconditioning     int64
parking             int64
prefarea            int64
furnishingstatus    int64
dtype: object

updated pf dataset using replace function where all data has been converted to int64 by replacing as follows:-

yes,semi-furnished -----> 1
no,unfurnished -----> 0
furnished -----> 2

then above dataset is printed for viewing.

and dtypes function is used to confirm the datatypes of all the columns before further working on the dataset.

In [41]:
y=df["price"]#label to be predicted
x =df[["area","bedrooms","bathrooms","stories","mainroad","guestroom","basement","hotwaterheating","airconditioning","parking","prefarea","furnishingstatus"]] #target variable(feature)

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)#20% data for testing purpose
# x_train
# y_train
# y_test
# x_test

In [42]:
print(len(x_test))
print(len(x_train))

109
436

verifying length of train and test.

In [43]:
model=LinearRegression()#model created

In [44]:
print(x_train.ndim,y_train.ndim)
np.array([x_train]).ndim

2 1

3

x_train meets the dimension of 2 and y_train meets the dimension of 1
 hence can be passed directly WITHOUT RESHAPING ANYTHING.

In [45]:
model.fit(x_train,y_train)#training our model

LinearRegression()

In [46]:
y_predict=model.predict(x_test)#predicting using our trained model
#y_predict
# y_test

In [48]:
r2_score(y_test,y_predict)#viewing the score of our model

0.7086153549938328

In [49]:
with open("model.pkl","wb") as file:
    pickle.dump(model,file)